body {
    padding-top: 70px;
}

footer {
    /* padding-top: 20px; */
    padding-top: 15px;
    height: 50px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.top-title {
    padding-bottom: 30px;
}

.remove-icon {
    color: red;
    padding-right: 5px;
}

.remove-icon:hover ~ .file-name {
    color: red;
}

.file-info {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    display: block !important;
    /*white-space: normal !important;
    height: auto !important;*/
}

#login-button {
    margin-left: 10px;
}
